{% comment %}
    Renders a list of menu items
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)
    - wrapper_class: {String} CSS wrapper class for the navigation (optional)

    Usage:
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
{% endcomment %}
<ul class="site-nav list--inline{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}" id="SiteNav">
  {% for link in linklists[linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {% comment %}2026-05-20: Hide Admin navigation from non-SUPERUSER customers in the desktop menu.{% endcomment %}
    {% assign show_link = true %}
    {% if link.title == 'Admin' %}
      {% assign show_link = false %}
      {% if customer and customer.tags contains 'SUPERUSER' %}
        {% assign show_link = true %}
      {% endif %}
      {% if customer and customer.tags contains 'SUPERUSER' or customer and customer.tags contains 'ADMIN' or customer and customer.tags contains 'Admin' or customer and customer.tags contains 'admin' %}
        {% assign show_link = true %}
      {% endif %}
    {% endif %}
    {% if link.title == 'Parents Corner' or link.title == 'Parent Corner' %}
      {% assign show_link = false %}
      {% if customer and customer.tags contains 'SUPERUSER' or customer and customer.tags contains 'ADMIN' or customer and customer.tags contains 'Admin' or customer and customer.tags contains 'admin' %}
        {% assign show_link = true %}
      {% elsif customer and customer.tags contains 'COACH' or customer and customer.tags contains 'Coach' or customer and customer.tags contains 'coach' %}
        {% assign show_link = false %}
      {% elsif customer %}
        {% assign show_link = true %}
      {% endif %}
    {% endif %}
    {% if link.title == 'Coaches Corner' or link.title == 'Coach Corner' or link.title == 'Coaches Coner' or link.title == 'Coaches Coener' %}
      {% assign show_link = false %}
      {% if customer and customer.tags contains 'COACH' or customer and customer.tags contains 'Coach' or customer and customer.tags contains 'coach' %}
        {% assign show_link = true %}
      {% endif %}
      {% if customer and customer.tags contains 'SUPERUSER' or customer and customer.tags contains 'ADMIN' or customer and customer.tags contains 'Admin' or customer and customer.tags contains 'admin' %}
        {% assign show_link = true %}
      {% endif %}
    {% endif %}
    {% if show_link %}

    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
      <li class="site-nav--has-dropdown{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
        <button class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          <span class="site-nav__label">{{ link.title | escape }}</span>{% include 'icon-chevron-down' %}
        </button>

        <div class="site-nav__dropdown{% if three_level_nav %} site-nav__dropdown--centered{% endif %} critical-hidden" id="SiteNavLabel-{{ child_list_handle }}">
          {% if three_level_nav %}
            <div class="site-nav__childlist">
              <ul class="site-nav__childlist-grid">
                {% if link.links != blank %}
                  {% for childlink in link.links %}
                    <li class="site-nav__childlist-item">
                      <a href="{{ childlink.url }}"
                        class="site-nav__link site-nav__child-link site-nav__child-link--parent"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="site-nav__label">{{ childlink.title | escape }}</span>
                      </a>

                      {% if childlink.links != blank %}
                        <ul>
                        {% for grandchildlink in childlink.links %}
                          <li>
                            <a href="{{ grandchildlink.url }}"
                            class="site-nav__link site-nav__child-link"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="site-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}

                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>

          {% else %}
            <ul>
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}"
                  class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"
                  {% if childlink.current %} aria-current="page"{% endif %}
                >
                    <span class="site-nav__label">{{ childlink.title | escape }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% else %}
      <li {% if link.active %} class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}"
          class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
          {% if link.current %} aria-current="page"{% endif %}
        >
          <span class="site-nav__label">{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
    {% endif %}
  {% endfor %}
  {% assign show_coaches_corner = false %}
  {% if customer and customer.tags contains 'COACH' or customer and customer.tags contains 'Coach' or customer and customer.tags contains 'coach' %}
    {% assign show_coaches_corner = true %}
  {% endif %}
  {% if customer and customer.tags contains 'SUPERUSER' or customer and customer.tags contains 'ADMIN' or customer and customer.tags contains 'Admin' or customer and customer.tags contains 'admin' %}
    {% assign show_coaches_corner = true %}
  {% endif %}
  {% if show_coaches_corner %}
    <li class="site-nav--has-dropdown{% if page.handle == 'assign-batch' or page.handle == 'search-modify-batch' or page.handle == 'search-participant' or page.handle == 'vacation-report' %} site-nav--active{% endif %}" data-has-dropdowns>
      <button class="site-nav__link site-nav__link--main site-nav__link--button{% if page.handle == 'assign-batch' or page.handle == 'search-modify-batch' or page.handle == 'search-participant' or page.handle == 'vacation-report' %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-coaches-corner">
        <span class="site-nav__label">Coaches Corner</span>{% include 'icon-chevron-down' %}
      </button>

      <div class="site-nav__dropdown critical-hidden" id="SiteNavLabel-coaches-corner">
        <ul>
          <li>
            <a href="/pages/assign-batch"
              class="site-nav__link site-nav__child-link{% if page.handle == 'assign-batch' %} site-nav__link--active{% endif %}"
              {% if page.handle == 'assign-batch' %} aria-current="page"{% endif %}
            >
              <span class="site-nav__label">Assign Batch</span>
            </a>
          </li>
          <li>
            <a href="/pages/search-modify-batch"
              class="site-nav__link site-nav__child-link{% if page.handle == 'search-modify-batch' %} site-nav__link--active{% endif %}"
              {% if page.handle == 'search-modify-batch' %} aria-current="page"{% endif %}
            >
              <span class="site-nav__label">Search &amp; Modify Batch</span>
            </a>
          </li>
          <li>
            <a href="/pages/search-participant"
              class="site-nav__link site-nav__child-link{% if page.handle == 'search-participant' %} site-nav__link--active{% endif %}"
              {% if page.handle == 'search-participant' %} aria-current="page"{% endif %}
            >
              <span class="site-nav__label">Search Participant</span>
            </a>
          </li>
          <li>
            <a href="/pages/vacation-report"
              class="site-nav__link site-nav__child-link site-nav__link--last{% if page.handle == 'vacation-report' %} site-nav__link--active{% endif %}"
              {% if page.handle == 'vacation-report' %} aria-current="page"{% endif %}
            >
              <span class="site-nav__label">Vacation Report</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  {% endif %}
</ul>
